Thumbs.db
## gradle
/.gradle
/build
/libs
## ForgeGradle
/run
## eclipse
/.settings
/.metadata
/.classpath
/.project
/bin
/eclipse
## intellij
/out
/.idea
/atlassian-ide-plugin.xml
## Private Stuffs
/ftp.properties

*.iml
*.ipr
*.iws
EldritchProtection.iws
*.iws